.about-container {
    max-width: 900px;
    margin: 0 auto;

    .title {
        font-weight: bold;
        font-size: var(--fs-m);
        text-align: center;
        margin-bottom: var(--xxs);
    }
}