.LstImageWr{
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--image-width);
  height: var(--image-height);
  padding-top: var(--image-padding);
  overflow: hidden;
  position: relative;
  background-color: #00000020;
}
.LstImage {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
}
.LstImageErr:after {
  content: 'no image available';
  display: block;
  font-size: var(--fs-xs);
  padding: var(--xxs);
  color: inherit;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: right;
}
.LstImageErr + .LstPreload{
  display: none;
}