body {
    margin: 0;
}

#root {
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    .logo {
        font-weight: bold;
    }

    .cart-icon {
        width: 1.3em;
        height: 1.3em;
    }

    .cart-icon path {
        stroke: orangered;
    }
}