.LstTabel {
    width: 100%;
    font-weight: 300;
    font-size: var(--fs-xxs);
    border: 0;
    border-collapse: collapse;
    text-align: left;
}

.LstTabel td,.LstTabel th {
    padding: 0.4em;
}
.LstTabel tr {
    background-color: #ffffff10;
    border-bottom: 1px solid #00000020;
}
.LstTabel tr:hover {
    background-color: #ffffff20;
}

.LstTabel th {
    background-color: #00000020;
}

.LstTabel td:first-child,.LstTabel th:first-child {
    padding-left: var(--xxs);
}