.LstSidebar {
  width: var(--sidebar-width);
  position: sticky;
  top: var(--sidebar-top);
  overflow-y: auto;
  background-color: white;
  display: none;
  border-right: 1px solid var(--gray100);
}

.wr-sidebar {
  padding: 0 var(--ss);
}

.LstSidebar::-webkit-scrollbar {
  width: 7px;
}

.LstSidebar::-webkit-scrollbar-track {
  background-color: transparent;
}

.LstSidebar::-webkit-scrollbar-thumb {
  background-color: var(--gray300);
  border-radius: 1px;
}

.LstSidebar .content {
  width: 100%;
  transition: width .3s .2s;
  right: 0;
  display: grid;
}
.show {
  display: block;
}

.close {
  display: none;
  position: relative;
  margin: var(--ss) 0 0 auto;
  width: 30px;
  height: 30px;
  opacity: 0.8;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 18px;
  content: '';
  height: 21px;
  width: 2px;
  background-color: var(--black);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

@media (max-width: 559px) {
  .LstSidebar {
    position: fixed;
    width: 100vw;
    max-height: 100vh !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  .close {
    display: block;
  }
}