.LstNest {
    padding: .1em;
    min-width: 10ch;
    width: fit-content;
    gap: 1px;
}
.LstNestSelect button {
    border: 1px solid var(--gray);
    background-color: var(--gray100);
}
.LstNest .LstNestContent {
    gap: .1em;
}

.LstNestContent > span {
    background-color: var(--gray);
    border: 1px solid var(--gray100);
    line-height: 1;
}

