.LstPopupHd {
    padding: 0 var(--xxs);
}

.navBrand {
    margin-bottom: var(--xs);
}

.navBrand .LstButtons {
    gap: 0;
}

.navBrand .LstButtons button {
    padding: 0.5em;
    color: var(--gray400);
}

.navBrand .LstButtons button:hover {
    color: var(--gray700);
    font-weight: bold;
}

.navBrand .LstButtons .active {
    color: var(--gray700);
}

.LstNestList li {
    width: 25%;
    cursor: pointer;
    text-transform: capitalize;
}
.LstNestList li.active {
    background-color: var(--gray700);
    color: white;
}

.LstNestList li.active:after {
    /*content: "";*/
    display: block;
    position: absolute;
    width: 7px;
    height: 13px;
    border: 3px solid var(--gray700);
    border-width: 0 3px 3px 0;
    top: .6em;
    left: -1em;
    transform: rotate(45deg);
}
.result {
    margin: var(--s) 0 var(--xs);
    border-top: 1px solid var(--gray100);
    padding: var(--s) 0;
}
.result .LstButtons > button {
    background-color: var(--gray);
    border: 1px solid var(--gray100);
    border-radius: 6px;
    font-weight: normal;
}
.result .LstButtons {
    gap: .1em;
}
.apply button {
    background-color: var(--gray700);
    color: #fff;
}