.catalog {
    display: flex;
    .cards {
        flex: 1;
    }
}

.filterBar {
    display: flex;
    gap: 20px;
}

.preload {
    position: fixed;
    bottom: var(--s);
    left: var(--s);
    width: 72px;
    height: 72px;
}