[page="checkout"] {
    .lstTabs {
        gap: var(--xs);
        border-bottom: 1px solid var(--gray300);

        .lstBtn {
            flex: 1;
            display: flex;
            justify-content: center;
        }
    }
}