.lstBtn {
  display: flex;
  line-height: 1;
  font-size: var(--fs-xs);
  background-color: var(--gray100);
  color: inherit;
  overflow: hidden;
  align-items: center;
  cursor: pointer;
  gap: 0.5em;
}
.lstBtn.active {
  background-color: var(--gray300);
}
.lstBtnText {
  min-height: 1em;
  min-width: 1em;
  font-weight: 400;
}
.lstBtnText:empty {
  padding: 0;
  min-width: 0;
}
.lstBtnIcon {
  display: contents;
}
.lstBtnIcon:empty{
  width: 0;
  height: 0;
}
.lstBtnIcon:empty ~ .lstBtnText {
  padding: 0;
}

.lstBtn[type="text"] {
  background-color: transparent;
}