.LstSpinner {
  position: relative;
  height: calc(90%);
  width: calc(90%);
  top: 50%;
  left: 50%;
}

.LstSpinner:before {
  position: absolute;
  top: -50%;
  left: -50%;
  content: '';
  display: block;
  height: calc(100%);
  width: calc(100%);
  background-image: url(./preload.svg);
  background-size: cover;
  animation-name: spin;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}