@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;300;400;700&family=Noto+Sans:wght@300;400;700&family=Nunito+Sans:wght@200;300;400;700&display=swap');
:root {
    --transition: .75s cubic-bezier(.2, .6,0, 1);
    --ss: max(20px, 2vw);
    --sm: 4vw;
    --sl: 6vw;
    --vs: 5vmin;
    --vm: 8vmin;
    --vl: 10vmin;
    --top-space: 8vmin;
    --max-width: 1920px;
    --fs-xxs: 14px;
    --fs-xs: 16px;
    --fs-s: 1.1rem;
    --fs-m: 1.4rem;
    --fs-l: 2.6rem;
    --fs-xl: 3rem;
    --fs-xxl: 3.6rem;
    --xxs: .6rem;
    --xs: 1.2rem;
    --s: 2.2rem;
    --m: 3rem;
    --l: 5rem;
    --xl: 8rem;
    --bg-primary: white;
    --thin: #e5e5e5;
    --light-gray: #ddd;
    --w-col: 500px;
    --w-min-content: 120rem;
    --gray: #0000000c;
    --gray100: #00000012;
    --gray200: #00000020;
    --gray300: #00000030;
    --gray400: #0000005e;
    --gray700: #000000cf;
    --black: #000000e3;
    --green: #3fcd6b;
    --dark: #10080a;
    --red: #ED515A;
    --orange: #ffd477;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, fieldset {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0;
}
strong {
    display: contents;
}
h2 {
    font-size: var(--fs-m);
}

h3 {
    font-size: var(--fs-s);
}
*, :before, :after {
    box-sizing: border-box;
}

html {
    font-size: clamp(var(--fs-xs), calc((1vw + 1vmin)), 20px);
    line-height: 1.4;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--gray600);
    font-size: var(--fs-xs);
    height: 100vh;
}
#root {
    height: 100vh;
    overflow-x: auto;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    cursor: pointer;
}
h1, h2, h3 {
    font-weight: 400;
    letter-spacing: -0.005em;
    margin-bottom: 1em;
}
h1 {
    font-size: var(--fs-l);
}
h2 {
    font-size: var(--fs-m);
}
li {
    list-style-type: none;
}

button {
    display: flex;
    line-height: 1;
    font-size: var(--fs-xs);
    box-sizing: border-box;
    background-color: var(--gray100);
    color: inherit;
    align-items: center;
    cursor: pointer;
    padding: 0;
    border: 0;
}

input, button {
    font-family: inherit;
}

.scrollbar::-webkit-scrollbar {
     width: 7px;
 }

.scrollbar::-webkit-scrollbar-track {
     background-color: transparent;
 }

.scrollbar::-webkit-scrollbar-thumb {
     background-color: var(--gray200);
     border-radius: 1px;
 }



.relative {
    position: relative;
}
.hide{
    display: none;
}

.br {
    border-radius: 2px;
}
.b0 {
    border: 0;
}
.pn {
    padding: .8em;
}
[size="normal"] {
    padding: 0.8em 1em;
}
[size="small"] {
    padding: 0.6em 0.8em;
}
[size="mini"] {
    font-weight: 300;
    font-size: var(--fs-xxs);
    padding: 0.4em 0.5em;
}
.gap {
    gap: var(--xxs);
}
.fx {
    display: flex;
    flex-wrap: wrap;
}
.fx-cm {
    flex-direction: column;
}
.fx-b {
    align-items: flex-end;
}
.fx-rev {
    flex-direction: row-reverse;
}
.jc-r {
    justify-content: flex-end;
}
.jc-sb {
    justify-content: space-between;
}
.jc-c {
    justify-content: center;
}
.ai-c {
    align-items: center;
}
.screen {
    display: flex;
    height: 100vh;
    overflow: hidden auto;
}
.screen > * {
    min-height: 100vh;
}
.screen > *:has(.LstSidebar) {
    display: contents;
}
.contents {
    display: contents;
}
.main {
    flex: 1;
}

.container {
    position: relative;
    padding-left: var(--ss);
    padding-right: var(--ss);
}

.content {
    font-size: var(--fs-xs);
    line-height: 1.6;
    padding-top: var(--vs);
    padding-bottom: var(--vs);
}
.mw {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}
/*
.LstClose {
    cursor: pointer;
}
.LstClose:after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-color: white;
    clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
}*/

.LstClose {
    position: relative;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    cursor: pointer;
    width: max-content;
}
.LstClose:before {
    content: '✕';
    display: inline-block;
}
.LstClose:hover {
    opacity: 1;
}

.LstArrow:after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-color: black;
    clip-path: polygon(30% 0, 20% 10%, 60% 50%, 20% 90%, 30% 100%, 80% 50%);
}