.title {
    font-weight: bold;
    font-size: var(--fs-m);
    margin-bottom: 10px;
}

.miniCard {
    line-height: 1.1;
    padding: 1em;

    .toggle {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .price {
        font-weight: bold;
    }
    /*.changeBtns {
        display: flex;
    } */
}