.LstElements > * {
    display: contents;
}
.row {
    width: 100%;
}
.LstForm {
    padding: var(--xxs);
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.5s ease-out;
}
.LstElements {
    overflow: hidden;
}
.LstForm.loaded {
    grid-template-rows: 1fr;
}
.brError {
  border: 1px solid var(--red);
}
.LsrFormError {
    padding: .3em 0;
    color: var(--red);
    border-radius: 2px;
    font-size: var(--fs-xxs);
}
.LsrFormError:empty {
    display: none;
}
.LstElement {
    margin-bottom: var(--xs);
}