.LstHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray100);
  min-height: 50px;
  padding: 0 var(--xxs);
  width: 100%;
  margin: 0 auto;
}