.lstBtns {
    gap: .5em;
}
.lstBtns > button {
    background-color: transparent;
    position: relative;
}
.lstBtns.radio {
    gap: 1em;
}
.lstBtns.radio > button {
    padding-left: 2.2em;
}

.lstBtns.radio > button:before {
    position: absolute;
    content: '';
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    border-radius: 1em;
    border: 1px solid var(--gray400);
    margin-right: .8em;
    margin-left: -2.2em;
}

.lstBtns > button.active {
    font-weight: 600;
}

.lstBtns.radio > button.active:before {
    border: .5em solid var(--gray700);
}