@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;300;400;700&family=Noto+Sans:wght@300;400;700&family=Nunito+Sans:wght@200;300;400;700&display=swap');
.lstUI {
    --unit: clamp(var(--fs-xs), calc((1vw + 1vmin)), 20px);
    --transition: .75s cubic-bezier(.2, .6,0, 1);
    --ss: max(20px, 2vw);
    --sm: 4vw;
    --sl: 6vw;
    --vs: 5vmin;
    --vm: 8vmin;
    --vl: 10vmin;
    --top-space: 8vmin;
    --max-width: 1920px;
    --max-width-middle: 900px;
    --fs-xxs: 14px;
    --fs-xs: 16px;
    --fs-s: calc(1.1 * var(--unit));
    --fs-m: calc(1.4 * var(--unit));
    --fs-l: calc(2.6 * var(--unit));
    --fs-xl: calc(3 * var(--unit));
    --fs-xxl: calc(3.6 * var(--unit));
    --xxs: calc(.6 * var(--unit));
    --xs: calc(1.2 * var(--unit));
    --s: calc(2.2 * var(--unit));
    --m: calc(3 * var(--unit));
    --l: calc(5 * var(--unit));
    --xl: calc(8 * var(--unit));
    --bg-primary: white;
    --thin: #e5e5e5;
    --light-gray: #ddd;
    --w-col: 500px;
    --gray: #0000000c;
    --gray100: #00000012;
    --gray200: #00000020;
    --gray300: #00000030;
    --gray400: #0000005e;
    --gray700: #000000cf;
    --black: #000000e3;
    --green: #3fcd6b;
    --dark: #10080a;
    --red: #ED515A;
    --orange: #f9b905;
    --white100: #ffffff10;
    font-family: 'Nunito Sans';
    color: var(--black);
    font-size: var(--fs-xs);
    line-height: 1.4;
}

.lstUI h1, .lstUI h2, .lstUI h3, .lstUI h4, .lstUI h5, .lstUI h6, .lstUI p, .lstUI ul, .lstUI li, .lstUI fieldset {
    margin: 0;
    padding: 0;
}

.lstUI .l-scrollbar::-webkit-scrollbar {
    width: 7px;
}

.lstUI .l-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.lstUI .l-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--gray200);
    border-radius: 1px;
}

.lstUI fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
.lstUI h1 {
    font-size: var(--fs-l);
}

.lstUI h2 {
    font-size: var(--fs-m);
}

.lstUI h3 {
    font-size: var(--fs-s);
}
.lstUI *, :before, :after {
    box-sizing: border-box;
}

.lstUI a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    cursor: pointer;
}
.lstUI h1, .lstUI h2, .lstUI h3 {
    font-weight: 400;
    letter-spacing: -0.005em;
    margin-bottom: 1em;
}

.lstUI li {
    list-style-type: none;
}

.lstUI button {
    display: flex;
    line-height: 1;
    font-size: var(--fs-xs);
    box-sizing: border-box;
    background-color: var(--gray100);
    color: inherit;
    align-items: center;
    cursor: pointer;
    padding: 0;
    border: 0;
}
.lstUI [disabled] {
    color: var(--gray400);
}

.lstUI input, .lstUI button {
    font-family: inherit;
}

.lstUI .scrollbar::-webkit-scrollbar {
     width: 7px;
 }

.lstUI .scrollbar::-webkit-scrollbar-track {
     background-color: transparent;
 }

.lstUI .scrollbar::-webkit-scrollbar-thumb {
     background-color: var(--gray200);
     border-radius: 1px;
 }

.lstUI [size="normal"] {
    padding: 0.8em 1em;
}
.lstUI [size="small"] {
    padding: 0.6em 0.8em;
}
.lstUI [size="mini"] {
    font-size: var(--fs-xxs);
    padding: 0.5em;
}
.l-row {
    width: 100%;
}
.l-br {
    border-radius: 6px;
}

.l-gap {
    gap: var(--xxs);
}
.l-fx {
    display: flex;
    flex-wrap: wrap;
}
.l-fx-rev {
    flex-direction: row-reverse;
}
.l-fx-cm {
    flex-direction: column;
}
.l-fx-b {
    align-items: flex-end;
}
.l-fx-bl {
    align-items: baseline;
}
.l-jc-r {
    justify-content: flex-end;
}
.l-jc-sb {
    justify-content: space-between;
}
.l-jc-c {
    justify-content: center;
}
.l-ai-c {
    align-items: center;
}
.l-scr {
    display: flex;
    height: 100vh;
    overflow: hidden auto;
}
.l-scr > * {
    min-height: 100vh;
}
.l-scr > *:has(.lstSidebar) {
    display: contents;
}
.l-conts {
    display: contents;
}

.l-field {
    min-height: 1em;
    min-width: 10ch;
    width: var(--width);
    background-color: var(--white100);
    border: 1px solid var(--gray200);
    color: inherit;
}

.l-field:focus {
    outline: 0;
    border: 1px solid var(--gray400);
}
.l-label {
    font-weight: 600;
    font-size: var(--fs-xxs);
    margin-bottom: .5em;
}
.l-label:empty {
    display: none;
}


.l-container {
    position: relative;
    padding-left: var(--ss);
    padding-right: var(--ss);
}

.l-content {
    font-size: var(--fs-xs);
    line-height: 1.6;
    padding-top: var(--vs);
    padding-bottom: var(--vs);
}
.l-mw {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}
/*
.LstClose {
    cursor: pointer;
}
.LstClose:after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-color: white;
    clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
}*/

.lstClose {
    position: relative;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    cursor: pointer;
    width: max-content;
}
.lstClose:before {
    content: '✕';
    display: inline-block;
}
.lstClose:hover {
    opacity: 1;
}

.lstArrow:after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-color: black;
    clip-path: polygon(30% 0, 20% 10%, 60% 50%, 20% 90%, 30% 100%, 80% 50%);
}