.LstCards {
  width: auto;
  display: grid;
  grid-auto-rows: min-content auto;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 1rem;
  line-height: 1.2;
  flex: 1 1 0;
  margin-bottom: var(--m);
}

.LstCards.selected:before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border: 2px solid var(--black);
}
.LstCardImage {
  overflow: hidden;
  background-color: var(--light-gray);
}
.LstCard {
  max-width: 30rem;
  position: relative;
  outline: 1px solid var(--gray);
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.LstCard h4 {
  font-size: var(--fs-s);
  margin-top: .5em;
  line-height: 1.1;
  font-weight: normal;
}
.LstCard p {
  line-height: 1.3;
  color: var(--gray400);
}

.LstCardMiniature:empty {
  display: none;
}
.LstCardWr {
  display: flex;
  position: relative;
  font-size: var(--fs-xs);
  z-index: 2;
  gap: .5em;
  padding: .5em;
}
.LstCardWr:empty {
  display: none !important;
}
.LstCardTitle {
  font-weight: 600;
}
.LstCardTitle:hover {
  text-decoration: underline;
}
.LstCardDesc {
  font-size: var(--fs-xxs);
  color: var(--gray400);
}
.LstCardActions {
  display: flex;
  position: absolute;
  top: var(--xxs);
  right: var(--xxs);
  z-index: 2;
  background-color: #ffffffd9;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 5px #00000012;
  border-radius: 2em;
  overflow: hidden;
}
.LstCardButtons {
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: auto;
}
.LstCardButtons .LstButton {
  cursor: default;
}
.LstCardButtons .LstButtonText {
  padding-left: .5em;
  color: var(--gray400);
}
.LstCardStandard {
  flex: 1 1 0;
}
.LstCardStandard > div {
  padding: .5em;
}
