.LstSidebar {
  width: var(--sidebar-width);
  position: sticky;
  top: var(--sidebar-top);
  overflow-y: auto;
  background-color: #ffffff08;
  display: none;
  height: 100%;
  border-right: 1px solid #00000020;
}

.LstSidebarWr {
  height: 100%;
  padding: var(--xxs);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.LstSidebarWr [section="content"] {
  padding: var(--xs) 0;
}

.LstSidebar::-webkit-scrollbar {
  width: 7px;
}

.LstSidebar::-webkit-scrollbar-track {
  background-color: transparent;
}

.LstSidebar::-webkit-scrollbar-thumb {
  background-color: var(--gray300);
  border-radius: 1px;
}

.LstSidebar .content {
  width: 100%;
  transition: width .3s .2s;
  right: 0;
  display: grid;
}
.LstSidebar.show {
  display: block;
}

.LstSidebar .LstClose {
  display: none;
  position: relative;
}

@media (max-width: 560px) {
  .LstSidebar {
    position: fixed;
    width: 100vw;
    max-height: 100vh !important;
    backdrop-filter: blur(100px);
    background-color: #000000cc;
    color: #ffffffcc;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  .LstSidebarWr {
    padding: var(--xs);
  }
  .LstSidebar .LstClose {
    display: block;
    margin: 0 0 var(--xs) auto;
  }
}
@media (min-width: 560px) {
  .LstSidebar.mini {
    width: var(--sidebar-minWidth);
    overflow: hidden;
  }
  .LstSidebar.mini .LstSidebarWr {
    padding: 0;
  }
}