.LstTextarea .label {
  position: relative;
  white-space: nowrap;
  color: #777;
  margin-bottom: .5em;
}

.LstTextarea .label:empty {
  margin-bottom: 0;
}
.error {
  /*background-color: lightcoral;*/
}
.LstTextarea {
  font-size: var(--fs-xs);
  min-height: 1em;
  max-width: 30ch;
}
.LstTextarea .wrap {
    white-space: wrap;
}

.LstTextarea .field {
  min-width: 10ch;
  width: auto;
  max-width: 30ch;
  outline: 1px solid var(--light-gray);
  padding: .4em;
  white-space: nowrap;
  overflow: hidden;
}
.LstTextarea .field:focus {
  outline: 2px solid var(--light-gray);
}
.LstTextarea.hide {
  display: none;
}