.LstInputWr {
  position: relative;
}
.LstInput {
  min-height: 1em;
  min-width: 10ch;
  width: var(--width);
  background-color: var(--white100);
  border: 1px solid var(--gray200);
  color: inherit;
}
.LstInputError {
  border: 1px solid var(--red);
}

.LstInput[type="search"] {
  padding-right: 2.2em;
}
.LstInputWr:has(input[type="search"]):before {
  display: block;
  position: absolute;
  content: '';
  top: .6em;
  right: .9em;
  width: .9em;
  height: .9em;
  border: 2px solid;
  border-radius: 1em;
  z-index: 2;
}
.LstInputWr:has(input[type="search"]):after {
  display: block;
  position: absolute;
  content: '';
  right: .8em;
  top: 1.6em;
  width: .4em;
  border: 1px solid;
  z-index: 2;
  transform-origin: right;
  transform: rotate(45deg);
}

.LstInput[type="search"]::-webkit-search-cancel-button{
  display: none;
}
.LstInput:focus {
  outline: 0;
  border: 1px solid var(--gray400);
}
.LstLabel {
  font-weight: 600;
  font-size: var(--fs-xxs);
  margin-bottom: .5em;
}
.LstLabel:empty {
  display: none;
}