.LstSpinner:before {
  position: absolute;
  content: '';
  display: block;
  height: calc(100%);
  width: calc(100%);
  background-image: url(preload.svg);
  background-size: cover;
  animation: fadeInSpin 0.8s forwards, spin 800ms infinite linear;
  opacity: 0;
}
@keyframes fadeInSpin {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}