.LstTickets {
  width: auto;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  flex: 1 1 0;
}
.LstTicket {
  width: 100%;
  position: relative;
  border: 1px solid var(--gray100);
  border-radius: 2px;
}
.LstTicketHeader {
  display: flow-root;
}
.LstTicketContent {
  min-width: 320px;
  flex: 1 1 0;
  padding: var(--xs);
 }
.LstTicket h4 {
  font-size: var(--fs-m);
  font-weight: normal;
  margin-bottom: .1em;
  float: left;
}
.LstTicketExtra {
  float: right;
}
.LstTicketTheme {
  margin-bottom: .5em;
}
.LstTicket p {
  line-height: 1.3;
  color: var(--gray400);
  margin: 1em 0;
}

.LstTicketTags {
  margin-bottom: .5em;
}
.LstTicketTags button {
  background-color: var(--gray100);
  padding: .3em .4em;
  border-radius: 2px;
}
.LstTicketActions {

}
.LstTicketActions button.LstButton {
  background-color: var(--gray100);
  border-radius: 2em;
}
.LstTicketLast {
  padding: var(--xs);
  min-width: 220px;
}


