.LtsDropdown {
  position: absolute;
  z-index: 99;
  inset: auto 0 auto auto;
  margin-top: 1em;
  border-radius: 8px;
  width: max-content;
  min-width: 100%;
  background-color: #ffffff30;
  transform: translate3d(0, 0, 0);
  border: 1px solid #00000020;
  backdrop-filter: blur(100px);
  box-shadow: 0 3px 5px #00000014;
  max-height: 13em;
  overflow: hidden;
  overflow-y: auto;
}