.ship {
    gap: var(--xs);
    padding: var(--xs) 0;

    .lstInput {
        width: 100%;
    }

    .btn-wr {
        display: flex;
        width: 100%;
        flex-basis: 100%;
        justify-content: right;
    }

    .l-field {
        border: 1px solid var(--gray300);
    }

    > * {
        flex: 1;
    }

    .address {
        flex-basis: 100%;
    }

    .l-fx {
        justify-content: space-between;
    }
}