.LstHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff10;
  border-bottom: 1px solid #00000020;
  padding: var(--xxs);
  width: 100%;
  margin: 0 auto;
}
[section="center"] {
  flex: 1;
}

[section]:empty {
  display: none;
}